<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <!--<base href="/">-->
    <base href=".">

    <link rel="shortcut icon" href="images/favicon.ico">
    <title>Carbon Reduction Helper - Adopt</title>

    <!-- Common file includes -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173546127-1"></script>
    <script src="lib/common.js"></script>
    <script src="../model.js"></script>
    <script src="view.js"></script>
    <script src="../controller.js"></script>
    <link rel="stylesheet" href="lib/common.css">
    <link rel="stylesheet" href="lib/2.67123b20.chunk.css">
    <link rel="stylesheet" href="lib/main.a391ff7c.chunk.css">

    <!-- Locals -->

<script>
    handle_stepChange = function(){
        entering("handle_stepChange")

        let stepSelectorDivId = document.getElementById('stepSelectorDiv');
        let selectorId = document.getElementById('stepSelector')

        //*** Set step from url
        if(selectorId.value !== step){  // THEN step is different than step dropdown
            log("handle_stepChange", "Reloading page with step = " + selectorId.value)
            window.location.href = 'complete.html?step=' + selectorId.value
        }

        refresh_all()
        exiting("handle_stepChange")
    }

    refresh_all = function(){
        entering("refresh_all")

        refresh_stepList()
        refresh_stepStates()
        refresh_stepInfo()

        exiting("refresh_all")
    }

    refresh_stepList = function(){
        //*** Populate the step selector drop-down
        log("Initialising", "Populating the step drop-down")
        let selectorDivId = document.getElementById('stepSelectorDiv');
        selectorDivId.innerHTML =
            create_selectHtmlByStepStateId(
                "familiarising",
                'id="stepSelector" onchange="handle_stepChange()"',
                0
            )

        //*** Select the required step
        log("Initialising", "Select required step")
        let selectorId = document.getElementById('stepSelector')
        if(step === "") {   // THEN no step in URL

            // @todo Initialising to step '10' needs reviewing and maybe udpating to first step in list
//            selectorId.value = "10"  // Initialise to first entry

        }else {  // Use the passed step
            log("Initialising", "step in URL detected")

            selectorId.value = step   // Note - the onchange() will not fire, but that is ok
        }
    }

    refresh_stepStates = function(){
        //*** Set the step state
        stepStateSelector = document.getElementById('stepStateSelector')
        log("refresh_all", "Changing state drop-down from "
            + "'" + stepStateSelector.value + "' to "
            + "'" + model_getStepStateId(step) + "'")

        stepStateSelector.value = model_getStepStateId(step);
        // Note - setting a select element value above does not trigger the onchange() event.
        // This isn't a problem as no action is required.
        // It has been confirmed that setting the value property, correctly registers the new status but doesn't
        // trigger the onchange() event
    }

    handle_stepStateChange = function(newStateId){
        let selectorId = document.getElementById('stepSelector')
        model_setStepStateId(selectorId.value, newStateId)
        refresh_stepList()
    }

    function handle_completedButtonClick(){

        //*** Set the step in the url to the version selected
        let selectorId = document.getElementById('stepSelector')
        step = selectorId.value  // For gotoMenu()

        //*** Mark the step as completed and save
        model_setStepStateId(step, "completed")

        refresh_stepStates()

        //*** Goto the familiarise page
//        gotoMenu("plan.html")   // Don't switch page as it is disorientated
    }

    refresh_stepInfo = function(){
        entering("refresh_stepInfo")

        // Display step info
        let stepInfoId = 'step' + step + '_exec_info'
        let stepInfoElement = document.getElementById(stepInfoId)
        if(stepInfoElement === null) {
            console.log("Cannot find '" + stepInfoId + "' - ignoring")
        }else{
            stepInfoElement.style.display = "";  // Display step info
        }

        exiting("refresh_stepInfo")
    }
	
	</script>

</head>

<body data-gr-c-s-loaded="true">

<noscript>You need to enable JavaScript to run this app.</noscript>

<div id="root">
    <div>
        <header>
            <nav class="navbar-expand-sm navbar-toggleable-sm ng-white border-bottom box-shadow mb-3 navbar-light">
                <div class="container">
                    <a class="navbar-brand " href="../index.html">Carbon Reduction Helper (proof-of-concept)</a>
<br>
                    <button aria-label="Toggle navigation" type="button" class="mr-2 navbar-toggler">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="d-sm-inline-flex flex-sm-row-reverse collapse navbar-collapse">
                        <ul class="navbar-nav flex-grow">
                            <li class="nav-item menu_dashboard">
                                <a class="text-dark nav-link" href="#" onclick="gotoMenu('dashboard.html');return false">Dashboard</a>
                            </li>
                            <li class="nav-item menu_select">
                                <a class="text-dark nav-link" href="#" onclick="gotoMenu('plan.html');return false">Select</a>
                            </li>
                            <li class="nav-item menu_familiarise">
                                <a class="text-dark nav-link" href="#" onclick="gotoMenu('familiarise.html');return false">Familiarise</a>
                            </li>
                            <li class="nav-item menu_adopt">
                                <a disabled="" class="text-dark nav-link"  href="#" onclick="gotoMenu('complete.html');return false">[Adopt]</a>
                            </li>
                            <li class="nav-item menu_help">
                                <a class="text-dark nav-link" href="#" onclick="gotoMenu('help.html');return false">Help</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container-xl">
            <div class="row">
                <div class="col-md-8">
                    <div align="center">
                        <div class="tips standAloneMode"></div> <!-- Tips -->
                        Adopt <div id="stepSelectorDiv"></div>
                        <br>
                        .
                    </div>
                    <div id="step10_exec_info" style="display:none">
                        <table border="1">
                            <tr>
                                <th>Task</th>
                                <th>Planned completion data</th>
                                <th>Status</th>
                                <th>Notes</th>
                            </tr>
                            <tbody>
                            <tr>
                                <td width="150">Get quotes</td>
                                <td>1 Aug 2020</td>
                                <td>
                                    <select>
                                        <option></option>
                                        <option>In progress</option>
                                        <option selected>Adopt</option>
                                    </select>
                                </td>
                                <td>
                                    <textarea cols="40" rows="8" value="">ACME supply company = £1,234
   Didn't have widget x

B&Q = £945
   Had detailed quote</textarea>
                                </td>
                            </tr>

                            <tr>
                                <td>Engage supplier</td><td>15 Aug 2020</td>
                                <td>
                                    <select>
                                        <option></option>
                                        <option>In progress</option>
                                        <option selected>Adopt</option>
                                    </select>
                                </td>
                                <td>
                                    <textarea cols="40" rows="8" value=""></textarea>
                                </td>
                                </td>
                            </tr>
                            <tr><td>[+]</td>
                            </tr>

                            </tbody>
                        </table>
                        <br>
                        <p>
                            Once action is complete get a good feeling by ticking it off.
                        </p>
                    </div> <!-- exec_info -->
                    <div id="step20_exec_info" style="display:none">
                        <table border="1">
                            <tr>
                                <th>Task</th>
                                <th>Planned completion data</th>
                                <th>Status</th>
                                <th>Notes</th>
                            </tr>
                            <tbody>
                            <tr>
                                <td width="150">Get quotes</td>
                                <td>1 Aug 2020</td>
                                <td>
                                    <select>
                                        <option></option>
                                        <option>In progress</option>
                                        <option selected>Adopt</option>
                                    </select>
                                </td>
                                <td>
                                    <textarea cols="40" rows="8" value="">ACME supply company = £1,234
   Didn't have widget x

B&Q = £945
   Had detailed quote</textarea>
                                </td>
                            </tr>

                            <tr>
                                <td>Engage supplier</td><td>15 Aug 2020</td>
                                <td>
                                    <select>
                                        <option></option>
                                        <option>In progress</option>
                                        <option selected>Adopt</option>
                                    </select>
                                </td>
                                <td>
                                    <textarea cols="40" rows="8" value=""></textarea>
                                </td>
                                </td>
                            </tr>
                            <tr><td>[+]</td>
                            </tr>

                            </tbody>
                        </table>
                        <br>
                        <p>
                            Once action is complete, get a good feeling by ticking it off.
                        </p>
                    </div> <!-- exec_info -->
                    <div id="step30_exec_info" style="display:none">  <!-- beef (herd) portions -->
                    </div> <!-- exec_info -->
                    <div id="step40_exec_info" style="display:none">  <!-- Electric -->
                        <p>
                            I have off-road parking
                                <input
                                        type="checkbox"
                                        checked
                                        onchange="document.getElementById('noOffRoadParking').style.display = (this.checked ? 'none':'')"
                                ></p>
                            <div id="noOffRoadParking" style="display:none">
                                <p>Register interest to have on-street charge points installed via</p>
                            <ul>
                                <li>Your local transport authority - select
                                    <select id="localAuthority" onchange="window.open(this.value)">
                                        <option value="">[Your local authority]</option>
                                        <option value="http://www.hants.gov.uk">Hampshire Highways Authority</option>
                                        <option value="mailto:electric.vehicles@brighton-hove.gov.uk">Brighton & Hove (creates email)</option>
                                    </select>
                                    to register interest
                                </li>


                                <li>Energy Saving Trust <a
                                        href="https://energysavingtrust.org.uk/transport/local-authorities/street-residential-chargepoint-scheme"
                                        target="_blank"
                                    >
                                    registration page</a>
                                </li>

                                <li><a href="https://www.connectedkerb.com" target="_blank">Connected Kerb</a></li>

                                <li>Other</li>
                            </ul>
                            </div>

                    </div> <!-- exec_info -->
                    <div id="step50_exec_info" style="display:none">  <!-- Insulation -->
                        Insulation
                        <br>
                    </div> <!-- exec_info -->
                </div><!-- col-md-8 -->
                <div class="col-md-4">
                    <div class="sticky-top pt-2">
                        <div class="card">
                            <div class="card-header">
                                <h4>Menu</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <table>
                                        <tr>
                                            <td>
                                                <input
                                                        id="CompletedButtonId"
                                                        type="button"
                                                        value="Completed"
                                                        class="quickMenuButton"
                                                        onclick="handle_completedButtonClick()"
                                                ><br>
                                                Change status to:
                                                <select id="stepStateSelector"
                                                        onChange="handle_stepStateChange(this.value)"
                                                >
                                                    <option value=""></option>
                                                    <option value="monitoring">Monitoring</option>
                                                    <option value="familiarising">Familiarising</option>
                                                    <option value="adopting">Adopting</option>
                                                    <option value="completed">Completed</option>
                                                    <option value="na">Not applicable</option>
                                                    <option value="rejected">Rejected</option>
                                                </select>
                                                <br>
                                                Follow changes to this step<input type="checkbox"><br>
                                                <p>
                                                    [Print ...]<br>
                                                    [Export ...]
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div> <!-- col-md-4 -->

            </div> <!-- row -->
        </div> <!-- container-xl -->
    </div>
</div>

<script>
    entering("Initialising")
    controller_init()

    refresh_all()

    // Fire onchange event - as setting value did not fire before
    let selectorId = document.getElementById('stepSelector')
    selectorId.dispatchEvent(new Event('change'));

    exiting("Initialising")
</script>

</body>
</html>