<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <!--<base href="/">-->
    <base href=".">

    <link rel="shortcut icon" href="images/favicon.ico">
    <title>Carbon Reduction Helper - Dashboard</title>

    <!-- Common file includes -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173546127-1"></script>
    <script src="lib/common.js"></script>
    <link rel="stylesheet" href="lib/common.css">
    <link rel="stylesheet" href="lib/2.67123b20.chunk.css">
    <link rel="stylesheet" href="lib/main.a391ff7c.chunk.css">

    <script src="../model.js"></script>
    <script src="view.js"></script>
    <script src="../controller.js"></script>

    <!-- Locals -->
    <link rel="stylesheet" type="text/css" href="lib/progressBar.css">
    <script src="lib/progressBar.js"></script>

    </head>

    <body data-gr-c-s-loaded="true">

    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
        <div>
            <header>
<!--
                <nav class="navbar-expand-sm navbar-toggleable-sm ng-white border-bottom box-shadow mb-3 navbar navbar-light">
                -->
                <nav class="navbar-expand-sm navbar-toggleable-sm ng-white border-bottom box-shadow mb-3 navbar-light">
                    <div class="container">
                        <a class="navbar-brand" href="../index.html">Carbon Reduction Helper (proof-of-concept)</a>
                        <br>
                        <button aria-label="Toggle navigation" type="button" class="mr-2 navbar-toggler">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="d-sm-inline-flex flex-sm-row-reverse collapse navbar-collapse" style="width:380px">
                            <ul class="navbar-nav flex-grow">
                                <li class="nav-item">
                                    <a disabled="" class="text-dark nav-link" href="#" onclick="gotoMenu('dashboard.html');return false">[Dashboard]</a>
                                </li>
                                <li class="nav-item">
                                    <a class="text-dark nav-link" href="#" onclick="gotoMenu('plan.html');return false">Select</a>
                                </li>
                                <li class="nav-item">
                                    <a class="text-dark nav-link" href="#" onclick="gotoMenu('familiarise.html');return false">Familiarise</a>
                                </li>
                                <li class="nav-item">
                                    <a class="text-dark nav-link"  href="#" onclick="gotoMenu('complete.html');return false">Complete</a>
                                </li>

                                <li class="nav-item">
                                    <a class="text-dark nav-link" href="#" onclick="gotoMenu('help.html');return false">Help</a>
									</li>
                            </ul>
                        </div>
                    </div>
                </nav>
    </header>
            <div class="container-xl">
                <div class="row">
                    <div class="col-md-8">
                        <div class="tips unbranded">
                            Tips:
                            <ul>
                                <li>
                                    <small><i>In this proof-of-concept, this dashboard contains fixed sample data that reflects the default settings in the "select" page.</i></small>
                                </li>
                            </ul>
                        </div>
                        <h3>Well done! You are making good progress.</h3>

                        <table style="margin-left:40px" width="100%">
                            <tr>
                                <td width="90%" colspan="2">
                                    <h5>You have :</h5>
                                    <ul>
                                        <li>reduced your carbon emissions by <b>17%</b> this month <img src="images/tick.png"></li>
                                        <li>saved a total of <b>17%</b> <img src="images/tick.png"></li>
                                        <li>committed to saving a total of <b>69%</b> by ??? <img src="images/tick.png"></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td width="100%" colspan="2"><br>
                                    <h5>How you compare with others</h5>
    <div align="right">
                                    <a href="#"
                                    onclick="alert('Although you can\'t change it on this proof-of-concept, on the final version this option controls what to display.  Including one ore more of Friends, Government target, Region and Groups'); return false"
                                    align="right"
                                    >[Configure]</a>
    </div>

                                </td>
                                <tr>
                                    <td>
                                    <table id="rankingCurrent" border="1" style="margin-left:20px" width="400">
                                        <tr>
                                            <td colspan="3" align="center">
                                                <b>CURRENT<br>carbon reduction</b>
                                            </td>
                                        </tr>
                                        <tr bgcolor="#D0D0D0">
                                            <th align="center">Who</th>
                                            <th align="center">Average<br>Reduction</th></tr>

                                        <tr id="governmentActual" >
                                            <td>[Government target]</td>
                                            <td align="center">
                                                <div id="governmentTarget_pbarId" class="pBar">
                                                    <div class="pBar_meter">0%</div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Friends <img src="images/sort_down.png"  align="right"></td>
                                            <td align="center">
                                                <div id="friendsActual_pbarId" class="pBar">
                                                    <div class="pBar_meter">0%</div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b> [You]</b></td>
                                            <td align="center">
                                                <div id="youActual_pbarId" class="pBar">
                                                    <div class="pBar_meter">0%</div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr >
                                            <td>World<img src="images/sort_down.png" align="right"></td>
                                            <!-- 10% -->
                                        <td align="center">
                                            <div id="worldActual_pbarId" class="pBar">
                                                <div class="pBar_meter">0%</div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td width="50%" >
                                <table id="rankingFuture" border="1" width="400">
                                    <tr>
                                        <td colspan="3" align="center">
                                            <b>PLANNED<br>carbon reduction</b>
                                        </td>
                                    </tr>
                                    <tr bgcolor="#D0D0D0">
                                        <th>Who</th>   <th align="center">Average<br>Reduction</th>
                                    </tr>
                                    <tr>
                                        <td>Friends <img src="images/sort_down.png" align="right"></td>
                                        <td align="center">
                                            <div id="friendsPlanned_pbarId" class="pBar">
                                                <div class="pBar_meter">0%</div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>[Government target]</td>
                                        <td align="center">
                                            <div id="governmentTargetPlanned_pbarId" class="pBar">
                                                <div class="pBar_meter">0%</div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>[You]</b></td>
                                        <td align="center">
                                            <div id="youPlanned_pbarId" class="pBar">
                                                <div class="pBar_meter">0%</div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>World<img src="images/sort_down.png" align="right"></td>
                                        <td align="center">
                                            <div id="worldPlanned_pbarId" class="pBar">
                                                <div class="pBar_meter">0%</div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <br>

                    <p>You and your friends are saving on average: ??%/person</p>

                    <p>If everyone in the world saved the same amount it would ????.</p>

                    <h3>Recent activity:</h3>
                    <ul>
                        <li><small>You: completed <a href="familiarise.html?step=30">Replace 5 beef (herd) portions per week with poultry</a> saving ??% of UK average person on 5 July 2020</small></li>
                        <li><small>John Doe: planned to complete <a href="familiarise.html?step=40">Replace a petrol car with an electric car</a> saving ??% of UK average person by 30 Aug 2020</small></li>
                    </ul>
                    <h3>How you and your friends are doing over time:</h3>
                    <img
                            src="images/emissions over time.png"
                            onclick="alert('This is just an representative image in this proof-of-concept.')"
                            alt=""
                    >
                </div>
            </div>
        </div>
    </div>
</div>

    <script>
        pBar_set("governmentTarget_pbarId", "48")
        pBar_set("youActual_pbarId", "23")
        pBar_set("friendsActual_pbarId", "21")
        pBar_set("worldActual_pbarId", "18")

        pBar_set("friendsPlanned_pbarId", "49")
        pBar_set("governmentTargetPlanned_pbarId", "48")
        pBar_set("youPlanned_pbarId", "43")
        pBar_set("worldPlanned_pbarId", "28")
    </script>
</body>
</html>