<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <!--<base href="/">-->
    <base href=".">

    <link rel="shortcut icon" href="images/favicon.ico">
    <title>Carbon Reduction Helper - Help</title>

    <!-- Common file includes -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173546127-1"></script>
    <script src="lib/common.js"></script>
    <link rel="stylesheet" href="lib/common.css">
    <link rel="stylesheet" href="lib/2.67123b20.chunk.css">
    <link rel="stylesheet" href="lib/main.a391ff7c.chunk.css">

    <script src="../model.js"></script>
	<script src="view.js"></script>
    <script src="../controller.js"></script>

    <!--
    <style>
        #docFrame { zoom: 1.5; -moz-transform: scale(1.5); -moz-transform-origin: 0 0; }
    </style>
    -->
</head>

<body data-gr-c-s-loaded="true">

<noscript>You need to enable JavaScript to run this app.</noscript>

<div id="root">
    <div>
        <header>
            <nav class="navbar-expand-sm navbar-toggleable-sm ng-white border-bottom box-shadow mb-3 navbar-light">
                <div class="container">
                    <a disabled="" class="navbar-brand disabled" href="../index.html">Carbon Reduction Helper (proof-of-concept)</a>
<br>
                    <button aria-label="Toggle navigation" type="button" class="mr-2 navbar-toggler">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="d-sm-inline-flex flex-sm-row-reverse collapse navbar-collapse">
                        <ul class="navbar-nav flex-grow">
                            <li class="nav-item menu_dashboard">
                                <a class="text-dark nav-link" href="#" onclick="gotoMenu('dashboard.html');return false">Dashboard</a>
                            </li>
                            <li class="nav-item menu_select">
                                <a class="text-dark nav-link" href="#" onclick="gotoMenu('plan.html');return false">Select</a>
                            </li>
                            <li class="nav-item menu_familiarise">
                                <a class="text-dark nav-link" href="#" onclick="gotoMenu('familiarise.html');return false">Familiarise</a>
                            </li>
                            <li class="nav-item menu_adopt">
                                <a class="text-dark nav-link"  href="#" onclick="gotoMenu('complete.html');return false">Adopt</a>
                            </li>

                            <li class="nav-item menu_help">
                                <a class="text-dark nav-link" disabled="" href="#" onclick="gotoMenu('help.html');return false">[Help]</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
</header>
        <div class="container-xl">
            <div class="row">
                <div class="col-md-8">
                    <iframe
                        width="100%" height="1500"
                        src="https://docs.google.com/document/d/e/2PACX-1vSo7guHqmaje1sowSdOwAWLD3DBpvvAvLcJhwHkaSwZ1ONdCoe7wLx98eagXKtZVcrdZbLzQrkOWv4h/pub?embedded=true">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="lib/common.js"></script>

</body>
</html>