<!DOCTYPE html>
<html lang="en">
<head>
    <!--- Feature configuration -->
    <!-- for "unbranded" see common.css -->
    <style>
        .popularity        { display: none}
        .costEffectiveness { display: none}
    </style>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <!--<base href="/">-->
    <base href=".">

    <!-- @todo Next line causes warning in IDE
    <link rel="manifest" href="./lib/manifest.json"> -->

    <link rel="shortcut icon" href="images/favicon.ico">
    <title>Carbon Reduction Helper - Plan</title>

    <!-- Common file includes -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173546127-1"></script>
    <script src="lib/common.js"></script>
    <link rel="stylesheet" href="lib/common.css">
    <link rel="stylesheet" href="lib/2.67123b20.chunk.css">
    <link rel="stylesheet" href="lib/main.a391ff7c.chunk.css">

    <script src="../model.js"></script>
    <script src="view.js"></script>
    <script src="../controller.js"></script>
    <script src="../persistence.js"></script>

    <!-- Locals -->
    <style>
        /*noinspection CssUnusedSymbol*/
        .slideSource_fade {
            transition: background-color 0.2s;
            background-color: blue;
        }
    </style>

</head>

<!-------------------------------------------------------------->

<body data-gr-c-s-loaded="true">

<noscript>You need to enable JavaScript to run this app.</noscript>

<!--suppress ES6ConvertVarToLetConst -->
<script>
    var incLowImpactSteps = urlParams.get('incLowImpactSteps')

    function pulse(element, withStyle){
        element.classList.toggle(withStyle);
        setTimeout(fadeIn, 200, element)
    }

    function fadeIn(element){
        element.classList.toggle(element.classList[0])
    }
</script>

<!-------------------------------------------------------------->

<div id="root">
    <div>
        <table style="margin-left:20px;">

            <tr class="notBranded">
                <td valign="top" width="250">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
                    <!-- @todo The positioning of filter options needs to be converted from the initial quick fix table implementation to:
                        1) locate inside the main window container
                        2) float at the top of screen regardless of scroll position-->
            <div id="resultsSummary">Calculating ...</div>
            <hr>
            Search by text contents
            &nbsp;&nbsp;&nbsp;<input
                type="text"
                id="searchField"
                value="e.g. electric"
                onchange="alert('Not implemented in this proof-of-concept.  Please use the browser\'s find facility')"
        ><hr>

            Filter by category<br>
            &nbsp;&nbsp;&nbsp;<input type="checkbox" checked disabled>Food (save upto ??%) <br>
            &nbsp;&nbsp;&nbsp;<input type="checkbox" checked disabled>Technology (save upto ??%) <br>
            &nbsp;&nbsp;&nbsp;<input type="checkbox" checked disabled>Travel (save upto ??%) <br>
            <br>
            <div class="unbranded">
            Filter by status<br>
            &nbsp;&nbsp;&nbsp;<input type="checkbox" checked disabled>Maybe<br>
            &nbsp;&nbsp;&nbsp;<input type="checkbox" checked disabled>Plan to<br>
            &nbsp;&nbsp;&nbsp;<input type="checkbox" checked disabled>Done <br>
            &nbsp;&nbsp;&nbsp;<input type="checkbox" checked disabled>N/A<br>
            &nbsp;&nbsp;&nbsp;<input type="checkbox" checked disabled>Never<br>
                <br>
            </div>

            <div class="costEffectiveness">
                    Include information on<br>
            &nbsp;&nbsp;&nbsp;<input type="checkbox" checked  disabled onchange="alert('Disabling is not implemented in this proof-of-concept'); this.value='All'">Cost effectiveness<br>
            <br>
            </div>

            Filter by impact on person<br>
            &nbsp;&nbsp;&nbsp;<select >
            <option>Any </option>
            <option disabled>Medium or less</option>
            <option disabled>Low or less</option>
        </select> disruption<br>
            <br>
            &nbsp;&nbsp;&nbsp;<select >
            <option>Any </option>
            <option disabled>Medium or less</option>
            <option disabled>Low or less</option>
        </select> cost
            <br>
            <br>
            Filter by carbon reduction<br>
            &nbsp;&nbsp;&nbsp;<input id="showStepsBelow5perc" type="checkbox" onchange="refresh_steps()"> Include steps with a reduction of less than 5%<br>
        </td><td>

<header>
    <nav class=" unbranded navbar-expand-sm navbar-toggleable-sm ng-white border-bottom box-shadow mb-3 navbar-light">
        <div class="container">
            <a class="navbar-brand" href="../index.html">Carbon Reduction Helper (proof-of-concept)</a>
<br>
            <button aria-label="Toggle navigation" type="button" class="mr-2 navbar-toggler">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-sm-inline-flex flex-sm-row-reverse collapse navbar-collapse unbranded" style="width:380px">
                <ul class="navbar-nav flex-grow">
                    <li class="nav-item menu_dashboard">
                        <a class="text-dark nav-link" href="#" onclick="gotoMenu('dashboard.html');return false">Dashboard</a>
                    </li>
                    <li class="nav-item menu_select">
                        <a class="text-dark nav-link" disabled="" href="#" onclick="gotoMenu('plan.html');return false">[Select]</a>
                    </li>
                    <li class="nav-item menu_familiarise">
                        <a class="text-dark nav-link" href="#" onclick="gotoMenu('familiarise.html');return false">Familiarise</a>
                    </li>
                    <li class="nav-item menu_complete">
                        <a class="text-dark nav-link"  href="#" onclick="gotoMenu('complete.html');return false">Complete</a>
                    </li>

                    <li class="nav-item menu_help">
                        <a class="text-dark nav-link" href="#" onclick="gotoMenu('help.html');return false">Help</a>
                    </li>
                </ul>
            </div>
        </div> <!-- container -->
            </nav>
        </header>
        <div class="container-xl">
            <div class="row">
                <div class="col-md-8"> <!-- tips and list of steps -->
                    <div class="tips unbranded">
                        Tips:
                        <ul>
                            <li><small>scroll down the list of steps to find the first one you maybe happy looking at</small></li>
                            <li><small>click on its associated status and select your preference</small></li>
                            <li><small>if you want more information before deciding, click on the "More info ..." in the description</small></li>
                        </ul>
                    </div> <!-- Tips -->

                    <table class="table table-striped" aria-labelledby="tableLabel">
                                    <thead>
                                    <tr>
                                        <th style="vertical-align:top">Step Summary</th>
                                        <th>Amount<img src="images/sort_down.png" alt="Click to change sorting"><br>
                                            <small>(c.f. average<br>UK person)</small></th>
                                        <th style="vertical-align:top" class="costEffectiveness">
                                            <a
                                                    href="plan.html"
                                                    onClick='alert("Sorting on this column is not implemented in this proof-of-concept")'>Cost effect-iveness
                                            </a>
                                        </th>
                                        <th style="vertical-align:top" class="unbranded">
                                            <a href="plan.html"
                                               onClick='alert("Sorting on this column is not implemented in this proof-of-concept")'>Status
                                            </a>
                                        </th>
                                    </tr>
                                    </thead>

                                    <tr>
                                    <tr><td></td></tr>
                                    <tr>
                                        <td>Replace an old gas boiler with an air source heat pump<br>
                                            <a href="familiarise.html?step=10">More ...</a></td>
                                        <td>23%</td>
                                        <td class="popularity">**---</td>
                                        <td class="costEffectiveness">??<br>%/£/yr</td>
                                        <td class="unbranded">
                                            <select id="step10" class="stateSelector form-control" onChange="handle_stepStateChange(10, this.value)" style="width:150px">
                                                <option value=""></option>
                                                <option value="maybe">Maybe</option>
                                                <option value="aspiring">Plan to</option>
                                                <option value="done">Completed</option>
                                                <option value="na">Not applicable</option>
                                                <option value="never">Never</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Replace an old gas boiler with a ground source heat pump<br>
                                            <a href="familiarise.html?step=20">More ...</a></td>
                                        <td>23%</td>
                                        <td class="popularity">**---</td>
                                        <td class="costEffectiveness">??<br>%/£/yr</td>
                                        <td class="unbranded">
                                            <select id="step20" class="stateSelector form-control" onChange="handle_stepStateChange(20, this.value)" style="width:150px">
                                                <option value=""></option>
                                                <option value="maybe">Maybe</option>
                                                <option value="aspiring">Plan to</option>
                                                <option value="done">Completed</option>
                                                <option value="na">Not applicable</option>
                                                <option value="never">Never</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Replace 5 beef (herd) portions/week with poultry<br>
                                            <a href="familiarise.html?step=30">More ...</a>
                                        </td>
                                        <td>20%</td>
                                        <td class="popularity">**---</td>
                                        <td class="costEffectiveness">Max<br>%/£/yr</td>
                                        <td class="unbranded">
                                            <select id="step30" class="stateSelector form-control" onChange="handle_stepStateChange(30, this.value)">
                                                <option value=""></option>
                                                <option value="maybe">Maybe</option>
                                                <option value="aspiring">Plan to</option>
                                                <option value="done">Completed</option>
                                                <option value="na">Not applicable</option>
                                                <option value="never">Never</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Replace a petrol car with a battery electric car<br>
                                            <a href="familiarise.html?step=40">More ...</a>
                                        </td>
                                        <td>17%</td>
                                        <td  class="popularity">***--</td>
                                        <td class="costEffectiveness">??<br>%/£/yr</td>
                                        <td class="unbranded">
                                            <select id="step40" class="stateSelector form-control" onChange="handle_stepStateChange(40, this.value)">
                                                <option value=""></option>
                                                <option value="maybe">Maybe</option>
                                                <option value="aspiring">Plan to</option>
                                                <option value="done">Completed</option>
                                                <option value="na">Not applicable</option>
                                                <option value="never">Never</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Increase loft insulation from ??cm to ??cm in a gas heated house with an old boiler<br>
                                            <a href="familiarise.html?step=50">More ...</a>
                                        </td>
                                        <td>17%</td>
                                        <td  class="popularity">***--</td>
                                        <td class="costEffectiveness">??<br>%/£/yr</td>
                                        <td class="unbranded">
                                            <select id="step50" class="stateSelector form-control" onChange="handle_stepStateChange(50, this.value)">
                                                <option value=""></option>
                                                <option value="maybe">Maybe</option>
                                                <option value="aspiring">Plan to</option>
                                                <option value="done">Completed</option>
                                                <option value="na">Not applicable</option>
                                                <option value="never">Never</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Switch from an old conventional gas boiler to a high efficiency condensing gas boiler<br>
                                            <a href="familiarise.html?step=60">More ..."</a></td>
                                        <td>9%</td>
                                        <td  class="popularity">**---</td>
                                        <td class="costEffectiveness">??<br>%/£/yr</td>
                                        <td class="unbranded">
                                            <select id="step60" class="stateSelector form-control" onChange="handle_stepStateChange(60, this.value)">
                                                <option value=""></option>
                                                <option value="maybe">Maybe</option>
                                                <option value="aspiring">Plan to</option>
                                                <option value="done">Completed</option>
                                                <option value="na">Not applicable</option>
                                                <option value="never">Never</option>
                                            </select>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>Commute by walking rather than driving a petrol car</td>
                                        <td>8%</td>
                                        <td  class="popularity">*----</td>
                                        <td class="costEffectiveness">??<br>%/£/yr</td>
                                        <td class="unbranded">
                                            <select id="step70" class="stateSelector form-control"  onChange="handle_stepStateChange(70, this.value)">
                                                <option value=""></option>
                                                <option value="maybe">Maybe</option>
                                                <option value="aspiring">Plan to</option>
                                                <option value="done">Completed</option>
                                                <option value="na">Not applicable</option>
                                                <option value="never">Never</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Replace 2 beef (herd) portions/week with poultry</td>
                                        <td>8%</td>
                                        <td class="popularity">**---</td>
                                        <td class="costEffectiveness">Max</td>
                                        <td class="unbranded">
                                            <select id="step80" class="stateSelector form-control"  onChange="handle_stepStateChange(80, this.value)">
                                                <option value=""></option>
                                                <option value="maybe">Maybe</option>
                                                <option value="aspiring">Plan to</option>
                                                <option value="done">Completed</option>
                                                <option value="na">Not applicable</option>
                                                <option value="never">Never</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Reduce home thermostat by 2 deg C in a house with an old gas central heating</td>
                                        <td>7%</td>
                                        <td class="popularity">**---</td>
                                        <td class="costEffectiveness">??<br>%/£/yr</td>
                                        <td class="unbranded">
                                            <select id="step90" class="stateSelector form-control" onChange="handle_stepStateChange(90, this.value)">
                                                <option value=""></option>
                                                <option value="maybe">Maybe</option>
                                                <option value="aspiring">Plan to</option>
                                                <option value="done">Completed</option>
                                                <option value="na">Not applicable</option>
                                                <option value="never">Never</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Work 1 day/week at home rather than commuting via a petrol car</td>
                                        <td>5%</td>
                                        <td  class="popularity">***--</td>
                                        <td class="costEffectiveness">??<br>%/£/yr</td>
                                        <td class="unbranded">
                                            <select id="step100" class="stateSelector form-control"  onChange="handle_stepStateChange(100, this.value)">
                                                <option value=""></option>
                                                <option value="maybe">Maybe</option>
                                                <option value="aspiring">Plan to</option>
                                                <option value="done">Completed</option>
                                                <option value="na">Not applicable</option>
                                                <option value="never">Never</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Drive rather than fly to holiday location 1,000 miles away</td>
                                        <td>0%</td>
                                        <td  class="popularity">***--</td>
                                        <td class="costEffectiveness">??<br>%/£/yr</td>
                                        <td class="unbranded">
                                            <select id="step110" class="stateSelector form-control"  onChange="handle_stepStateChange(110, this.value)">
                                                <option value=""></option>
                                                <option value="maybe">Maybe</option>
                                                <option value="aspiring">Plan to</option>
                                                <option value="done">Completed</option>
                                                <option value="na">Not applicable</option>
                                                <option value="never">Never</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>One staycation per year rather than a 1,000 mile flight.</td>
                                        <td>5%</td>
                                        <td  class="popularity">***--</td>
                                        <td class="costEffectiveness">??<br>%/£/yr</td>
                                        <td class="unbranded">
                                            <select id="step120" class="stateSelector form-control"  onChange="handle_stepStateChange(120, this.value)">
                                                <option value=""></option>
                                                <option value="maybe">Maybe</option>
                                                <option value="aspiring">Plan to</option>
                                                <option value="done">Completed</option>
                                                <option value="na">Not applicable</option>
                                                <option value="never">Never</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="below5perc">
                                        <td>Share a petrol car to work</td>
                                        <td>4%</td>
                                        <td  class="popularity">**---</td>
                                        <td class="costEffectiveness">??<br>%/£/yr</td>
                                        <td class="unbranded">
                                            <select id="step130" class="stateSelector form-control"  onChange="handle_stepStateChange(130, this.value)">
                                                <option value=""></option>
                                                <option value="maybe">Maybe</option>
                                                <option value="aspiring">Plan to</option>
                                                <option value="done">Completed</option>
                                                <option value="na">Not applicable</option>
                                                <option value="never">Never</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="below5perc">
                                        <td>Install solar PV panels</td>
                                        <td>3%</td>
                                        <td  class="popularity">***--</td>
                                        <td class="costEffectiveness">??<br>%/£/yr</td>
                                        <td class="unbranded">
                                            <select id="step140" class="stateSelector form-control"  onChange="handle_stepStateChange(140, this.value)">
                                                <option value=""></option>
                                                <option value="maybe">Maybe</option>
                                                <option value="aspiring">Plan to</option>
                                                <option value="done">Completed</option>
                                                <option value="na">Not applicable</option>
                                                <option value="never">Never</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <!--
                                    <tr class="below5perc">
                                        <td>Replace 8 pints/week with soymilk
                                        </td>
                                        <td>2.7%</td>
                                        <td  class="popularity">***--</td>
                                        <td class="costEffectiveness">??<br>%/£/yr</td>
                                        <td class="unbranded">
                                            <select id="step140" class="stateSelector form-control"  onChange="handle_stepStateChange(140, this.value)">
                                                <option value=""></option>
                                                <option value="maybe">Maybe</option>
                                                <option value="aspiring">Plan to</option>
                                                <option value="done">Completed</option>
                                                <option value="na">Not applicable</option>
                                                <option value="never">Never</option>
                                            </select>
                                        </td>
                                    </tr>
                                    -->
                                    <tr class="below5perc">
                                        <td>Switch to a car with 10% better mpg</td>
                                        <td>2%</td>
                                        <td  class="popularity">xx**---</td>
                                        <td class="costEffectiveness">??<br>%/£/yr</td>
                                        <td class="unbranded">
                                            <select id="step150" class="stateSelector form-control"  onChange="handle_stepStateChange(150, this.value)">
                                                <option value=""></option>
                                                <option value="maybe">Maybe</option>
                                                <option value="aspiring">Plan to</option>
                                                <option value="done">Completed</option>
                                                <option value="na">Not applicable</option>
                                                <option value="never">Never</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="below5perc">
                                        <td>Switch to commuting by bus rather than a petrol car</td>
                                        <td>2%</td>
                                        <td  class="popularity">*----</td>
                                        <td class="costEffectiveness">??<br>%/£/yr</td>
                                        <td class="unbranded">
                                            <select id="step160" class="stateSelector form-control"  onChange="handle_stepStateChange(160, this.value)">
                                                <option value=""></option>
                                                <option value="maybe">Maybe</option>
                                                <option value="aspiring">Plan to</option>
                                                <option value="done">Completed</option>
                                                <option value="na">Not applicable</option>
                                                <option value="never">Never</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="below5perc">
                                        <td>Use a train rather than drive on some long trips</td>
                                        <td>1.6%</td>
                                        <td  class="popularity">*----</td>
                                        <td class="costEffectiveness">??<br>%/£/yr</td>
                                        <td class="unbranded">
                                            <select id="step170" class="stateSelector form-control"  onChange="handle_stepStateChange(170, this.value)">
                                                <option value=""></option>
                                                <option value="maybe">Maybe</option>
                                                <option value="aspiring">Plan to</option>
                                                <option value="done">Completed</option>
                                                <option value="na">Not applicable</option>
                                                <option value="never">Never</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="below5perc">
                                        <td>Install a solar immersion heater diverter feeding a electric hot water tank</td>
                                        <td>1.0%</td>
                                        <td  class="popularity">**---</td>
                                        <td class="costEffectiveness">??<br>%/£/yr</td>
                                        <td class="unbranded">
                                            <select id="step180" class="stateSelector form-control" onChange="handle_stepStateChange(180, this.value)">
                                                <option value=""></option>
                                                <option value="maybe">Maybe</option>
                                                <option value="aspiring">Plan to</option>
                                                <option value="done">Completed</option>
                                                <option value="na">Not applicable</option>
                                                <option value="never">Never</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="below5perc">
                                        <td>Install solar thermal panels with an electric powered hot water system</td>
                                        <td>1.0%</td>
                                        <td  class="popularity">**---</td>
                                        <td class="costEffectiveness">??<br>%/£/yr</td>
                                        <td class="unbranded">
                                            <select id="step190" class="stateSelector form-control" onChange="handle_stepStateChange(190, this.value)">
                                                <option value=""></option>
                                                <option value="maybe">Maybe</option>
                                                <option value="aspiring">Plan to</option>
                                                <option value="done">Completed</option>
                                                <option value="na">Not applicable</option>
                                                <option value="never">Never</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="below5perc">
                                        <td>Fill a dishwasher rather than using a half load</td>
                                        <td>0.9%</td>
                                        <td  class="popularity">**---</td>
                                        <td class="costEffectiveness">??<br>%/£/yr</td>
                                        <td class="unbranded">
                                            <select id="step200" class="stateSelector form-control"  onChange="handle_stepStateChange(200, this.value)">
                                                <option value=""></option>
                                                <option value="maybe">Maybe</option>
                                                <option value="aspiring">Plan to</option>
                                                <option value="done">Completed</option>
                                                <option value="na">Not applicable</option>
                                                <option value="never">Never</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="below5perc">
                                        <td>Reduce your standby power by 50w</td>
                                        <td>0.8%</td>
                                        <td  class="popularity">**---</td>
                                        <td class="costEffectiveness">??<br>%/£/yr</td>
                                        <td class="unbranded">
                                            <select id="step210" class="stateSelector form-control"  onChange="handle_stepStateChange(210, this.value)">
                                                <option value=""></option>
                                                <option value="maybe">Maybe</option>
                                                <option value="aspiring">Plan to</option>
                                                <option value="done">Completed</option>
                                                <option value="na">Not applicable</option>
                                                <option value="never">Never</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="below5perc">
                                        <td>Replace vented or condensing tumble dryer with heat pump model</td>
                                        <td>0.7%</td>
                                        <td  class="popularity">**---</td>
                                        <td class="costEffectiveness">??<br>%/£/yr</td>
                                        <td class="unbranded">
                                            <select id="step220" class="stateSelector form-control" onChange="handle_stepStateChange(220, this.value)">
                                                <option value=""></option>
                                                <option value="maybe">Maybe</option>
                                                <option value="aspiring">Plan to</option>
                                                <option value="done">Completed</option>
                                                <option value="na">Not applicable</option>
                                                <option value="never">Never</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="below5perc">
                                        <td>Switch to a start-stop car with same MPG</td>
                                        <td>0.6%</td>
                                        <td  class="popularity">*----</td>
                                        <td class="costEffectiveness">??<br>%/£/yr</td>
                                        <td class="unbranded">
                                            <select id="step230" class="stateSelector form-control"  onChange="handle_stepStateChange(230, this.value)">
                                                <option value=""></option>
                                                <option value="maybe">Maybe</option>
                                                <option value="aspiring">Plan to</option>
                                                <option value="done">Completed</option>
                                                <option value="na">Not applicable</option>
                                                <option value="never">Never</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="below5perc">
                                        <td>Reduce maximum speed on motorway from 70 to 65 mph</td>
                                        <td>0.6%</td>
                                        <td class="popularity">**---</td>
                                        <td class="costEffectiveness">Max<br>%/£/yr</td>
                                        <td class="unbranded">
                                            <select id="step240" class="stateSelector form-control"  onChange="handle_stepStateChange(240, this.value)">
                                                <option value=""></option>
                                                <option value="maybe">Maybe</option>
                                                <option value="aspiring">Plan to</option>
                                                <option value="done">Completed</option>
                                                <option value="na">Not applicable</option>
                                                <option value="never">Never</option>
                                            </select>
                                        </td>
                                    </tr>

                                    <tr class="below5perc">
                                        <td>Convert 5 x 60w incandescent light bulbs to LED</td>
                                        <td>0.6%</td>
                                        <td class="popularity">**---</td>
                                        <td class="costEffectiveness">Max<br>%/£/yr</td>
                                        <td class="unbranded">
                                            <select id="step250" class="stateSelector form-control"  onChange="handle_stepStateChange(250, this.value)">
                                                <option value=""></option>
                                                <option value="maybe">Maybe</option>
                                                <option value="aspiring">Plan to</option>
                                                <option value="done">Completed</option>
                                                <option value="na">Not applicable</option>
                                                <option value="never">Never</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="below5perc">
                                        <td>Dry clothes on washing line rather than tumble dryer</td>
                                        <td>0.2%</td>
                                        <td class="popularity">**---</td>
                                        <td class="costEffectiveness">Max<br>%/£/yr</td>
                                        <td class="unbranded">
                                            <select id="step260" class="stateSelector form-control"  onChange="handle_stepStateChange(260, this.value)">
                                                <option value=""></option>
                                                <option value="maybe">Maybe</option>
                                                <option value="aspiring">Plan to</option>
                                                <option value="done">Completed</option>
                                                <option value="na">Not applicable</option>
                                                <option value="never">Never</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table> <!-- table-striped -->
                            </div> <!-- cold-md-8 -->
                <div class="col-md-4 unbranded"> <!-- Cards container -->
                    <div class="sticky-top pt-2">
                        <!-- Comparison of emissions -->
                        <div class="card">
                            <div class="card-header">
                                <h4>Your carbon reduction</h4>
                                <small>(compared to an average UK adult)</small>
                            </div> <!-- Card-header -->
                            <div class="card-body">
                                <b>Planned :</b> <b id="savedPlanned">Calculating ...</b><br>
                                <b>Completed :</b> <b id="savedDone">Calculating ...</b>
                                <div id="feedback" width="100%"></div>
                            </div> <!-- Car 2 - body -->
                        </div> <!-- Card 2 -->
                    </div> <!-- Sticky-top pt-2 -->
                </div> <!-- col-md-4 -->

            </div> <!-- row -->



        </div> <!-- container-xl -->
            </td>
            </tr>
        </table>
    </div> <!-- Anonymous -->
</div> <!-- Root -->

<!-------------------------------------------------------------->

<script>

    handle_stepStateChange = function(stepId, stateId) {

        controller_handle_stepStateChange(stepId, stateId);
        refresh_totals();
    }

    setStepState = function(stepId, stateId) {
        document.getElementById("step" + stepId).value = stateId
    }

    refresh_stepStates = function(){
        let stepStateSelectors = document.getElementsByClassName('stateSelector');

        Array.prototype.filter.call(
            stepStateSelectors,
            function(s){
                let stepId = s.id.substring("step".length,999)
                s.value = model_getStepStateId(stepId);
            }
        );

    }

    refresh_totals = function() {
        let savings = yourSavings()

        //*** Update done values ***
        let savedDonePerc = Math.round(savings.completed)
        let savedDoneNewPercText = savedDonePerc + "%"

        let savedDonePercId = document.getElementById("savedDone")
        if (savedDoneNewPercText !== savedDonePercId.innerText) {
            savedDonePercId.innerText = savedDoneNewPercText
            pulse(savedDonePercId, "slideSource_fade")
        }

        //*** Update planned values ***
        let savedPlannedPerc = Math.round(savings.planned)
        let savedPlannedNewPercText = savedPlannedPerc + "%"

        let savedPlannedPercId = document.getElementById("savedPlanned")
        if (savedPlannedNewPercText !== savedPlannedPercId.innerText) {
            savedPlannedPercId.innerText = savedPlannedNewPercText
            pulse(savedPlannedPercId, 'slideSource_fade')
        }

        //*** Update feedback ***

        let feedbackId = document.getElementById("feedback");
        if (savedDonePercId > savedDoneThresholdPerc) {
            feedbackId.innerText = "Well done you have achieved more than 20% savings.<br>Keep up the good work!";
        } else {
            feedbackId.innerText = ""
        }
    }

    refresh_steps = function(){
        let showStepsBelow5percId = document.getElementById('showStepsBelow5perc')
        let stepsBelow5perc = document.getElementsByClassName('below5perc');

        if(incLowImpactSteps != null){
            incLowImpactSteps = null
            showStepsBelow5percId.checked = true
        }

        if(showStepsBelow5percId.checked) {
            Array.prototype.filter.call(
                stepsBelow5perc,
                function(e){e.style = "";}
            );
			document.getElementById('resultsSummary').innerHTML = "26 out of 26 steps"
        }else{
            Array.prototype.filter.call(
                stepsBelow5perc,
                function(e){e.style = "display:none";}
            );
			document.getElementById('resultsSummary').innerHTML = "12 out of 26 steps"
        }
    }



    controller_init()

    refresh_stepStates();
    refresh_totals();
    refresh_steps();


    </script>

</body>
</html>