<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <!--<base href="/">-->
    <base href=".">

    <link rel="shortcut icon" href="images/favicon.ico">
    <title>Carbon Reduction Helper - Adopt</title>

    <link href="lib/2.67123b20.chunk.css" rel="stylesheet">
    <link href="lib/main.a391ff7c.chunk.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173546127-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-173546127-1');
    </script>

</head>

<body data-gr-c-s-loaded="true">

<noscript>You need to enable JavaScript to run this app.</noscript>

<div id="root">
    <div>
        <header>
            <nav class="navbar-expand-sm navbar-toggleable-sm ng-white border-bottom box-shadow mb-3 navbar navbar-light">
                <div class="container">
                    <a disabled="" class="navbar-brand disabled" href="../index.html">Carbon Reduction Helper (proof-of-concept)</a>
                    <button aria-label="Toggle navigation" type="button" class="mr-2 navbar-toggler">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="d-sm-inline-flex flex-sm-row-reverse collapse navbar-collapse">
                        <ul class="navbar-nav flex-grow">
                            <li class="nav-item menu_dashboard">
                                <a class="text-dark nav-link disabled" href="dashboard.html">Dashboard</a>
                            </li>
                            <li class="nav-item menu_select">
                                <a class="text-dark nav-link" href="plan.html">Select</a>
                            </li>
                            <li class="nav-item menu_familiarise">
                                <a class="text-dark nav-link" href="familiarise.html">Familiarise</a>
                            </li>
                            <li class="nav-item menu_complete">
                                <a disabled="" class="text-dark nav-link disabled" href="complete.html">[Adopt]</a>
                            </li>
                            <li class="nav-item menu_help">
                                <a class="text-dark nav-link" href="#" onclick="gotoMenu('help.html');return false">help</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
</header>
        <div class="container-xl">
            <div class="row">
                <div class="col-md-8">
                    <div>
                        <!--
    <table bgColor="yellow">
        <tr>
            <td>
                Tips:
                <small>
                    <ul>
                        <li>scroll down the list of steps to find the first thing you maybe happy
                            doing
                        </li>
                        <li>click on its associated status and select your preference, then</li>
                        <li>click on [Familiarise] or [Adopt] menus</li>
                    </ul>
                </small>

            </td>
        </tr>
    </table>
    <br>
    -->

                    </div>
                    <div id="exec_info">
                        <br>
                        <br>
                        <table border="1">
                            <tr>
                                <th>Task</th>
                                <th>Planned completion data</th>
                                <th>Status</th>
                                <th>Notes</th>
                            </tr>
                            <tbody>
                            <tr>
                                <td width="150">Sample task 1</td><td>1 Aug 2020</td>
                                <td>
                                    <select>
                                        <option></option>
                                        <option>In progress</option>
                                        <option selected>Adopt</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" size="40" height="200" value="">
                                </td>
                            </tr>
                            <tr>
                                <td>Sample task 2</td><td>15 Aug 2020</td>
                                <td>
                                    <select>
                                        <option></option>
                                        <option>In progress</option>
                                        <option selected>Adopt</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" size="40" height="200" value="">
                                </td>
                            </tr>
                            <tr><td>[+]</td>
                            </tr>

                            </tbody>
                        </table>
                        <br>
                        <p>
                            Once action is complete get a good feeling by ticking it off.
                        </p>
                        <p>
                            [Export ...]<br>
                            [Print ...]
                        </p>
                    </div> <!-- exec_info -->
                </div><!-- col-md-8 -->
                <div class="col-md-4">
                    <div class="sticky-top pt-2">
                        <div class="card">
                            <div class="card-header">
                                <h4>Menu</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <table>
                                        <tr>
                                            <td>
<!--                                                Follow changes to this step<input type="checkbox"><br> -->
                                                Set this step status to:
                                                <select onChange="alert('Not implement in this proof-of-concept')">
                                                    <option value=""></option>
                                                    <option value="monitoring">Monitoring</option>
                                                    <option value="adopting">Adopting</option>
                                                    <option value="completed">Completed</option>
                                                    <option value="na">Not applicable</option>
                                                    <option value="rejected">Rejected</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div> <!-- col-md-4 -->

            </div> <!-- row -->
        </div> <!-- container-xl -->
    </div>
</div>

<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const step = urlParams.get('step')

    let selectorId = document.getElementById('stepSelector');
    selectorId.selectedIndex = step
</script>

</body>
</html>