<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <!--<base href="/">-->
    <base href=".">

    <link rel="shortcut icon" href="images/favicon.ico">
    <title>Carbon Reduction Helper - Complete</title>

    <link href="lib/2.67123b20.chunk.css" rel="stylesheet">
    <link href="lib/main.a391ff7c.chunk.css" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173546127-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-173546127-1');
    </script>

</head>

<body data-gr-c-s-loaded="true">

<noscript>You need to enable JavaScript to run this app.</noscript>

<div id="root">
    <div>
        <header>
            <nav class="navbar-expand-sm navbar-toggleable-sm ng-white border-bottom box-shadow mb-3 navbar navbar-light">
                <div class="container">
                    <a disabled="" class="navbar-brand disabled" href="../index.html">Carbon Reduction Helper (proof-of-concept)</a>
                    <button aria-label="Toggle navigation" type="button" class="mr-2 navbar-toggler">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="d-sm-inline-flex flex-sm-row-reverse collapse navbar-collapse">
                        <ul class="navbar-nav flex-grow">
                            <li class="nav-item">
                                <a class="text-dark nav-link" href="#" onclick="gotoMenu('dashboard.html');return false">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="text-dark nav-link" href="#" onclick="gotoMenu('plan.html');return false">Select</a>
                            </li>
                            <li class="nav-item">
                                <a class="text-dark nav-link" href="#" onclick="gotoMenu('familiarise.html');return false">Familiarise</a>
                            </li>
                            <li class="nav-item">
                                <a disabled="" class="text-dark nav-link"  href="#" onclick="gotoMenu('complete.html');return false">[Complete]</a>
                            </li>

                            <li class="nav-item">
                                <a class="text-dark nav-link" href="#" onclick="gotoMenu('help.html');return false">Help</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
</header>
        <div class="container-xl">
            <div class="row">
                <div class="col-md-8">
                    <div align="center">

                    </div>
                    <br>
                    <div id="Content">
                    </div> <!-- content -->
                </div><!-- col-md-8 -->
                <div class="col-md-4">
                    <div class="sticky-top pt-2">
                        <div class="card">
                            <div class="card-header">
                                <h4>Menu</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <table>
                                        <tr>
                                            <td>
<!--                                           Follow changes to this step<input type="checkbox"><br> -->
                                                Set this step status to:
                                                <select id="stepStateSelector" onFocus="this.oldIndex = this.selectedIndex" onChange="model_setStepStateId(step, this.value); this.selectedIndex = this.oldIndex">
                                                    <option value=""></option>
                                                    <option value="maybe">Maybe</option>
                                                    <option value="aspiring">Plan to</option>
                                                    <option value="done">Completed</option>
                                                    <option value="na">Not applicable</option>
                                                    <option value="never">Never</option>
                                                </select>
                                                <br>
                                                <br>
                                                <p>
                                                    [Print ...]<br>
                                                    [Export ...]
                                                </p>

                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div> <!-- col-md-4 -->

            </div> <!-- row -->
        </div> <!-- container-xl -->
    </div>
</div>

<script src="lib/common.js"></script>
<script src="../model.js"></script>
<script src="view.js"></script>
<script src="../controller.js"></script>

<script>
    //Select correct step
    let selectorId = document.getElementById('stepSelector');
    selectorId.value = step

    if(step !== null) {
        document.getElementById('step' + step + '_exec_info').style = "";
        document.getElementById('stepStateSelector').value = model_getStepStateId(step)
    }

</script>

</body>
</html>